@let panelIcon = sidenavStart.opened ? 'left_panel_close' : 'left_panel_open';
@let panelToggleTooltip =
  sidenavStart.opened ? 'Close Sidebar' : 'Open Sidebar';

<mat-sidenav-container class="fa-app-container">
  <mat-sidenav
    class="fa-sidenav fa-sidenav-start with-border-r"
    position="start"
    opened="true"
    mode="side"
    fixedBottomGap="0"
    fixedInViewport
    fixedTopGap="0"
    #sidenavStart
  >
    <aside class="flex ffa-col h-full">
      <mat-toolbar class="shrink-0 sticky-top">
        <div class="flex shrink-0 items-center">
          <button
            mat-icon-button
            (click)="sidenavStart.toggle()"
            [matTooltip]="panelToggleTooltip"
          >
            <mat-icon>{{ panelIcon }}</mat-icon>
          </button>
        </div>

        <div class="flex ffa-1 items-center justify-end"></div>
      </mat-toolbar>
    </aside>
  </mat-sidenav>

  <mat-sidenav-content
    [class.with-sticky-toolbar-overlay]="true"
    class="fa-app-content flex ffa-col ffa-1"
  >
    <mat-toolbar
      class="fa-app-content-toolbar shrink-0 sticky-top with-border-b"
    >
      <div class="flex shrink-0 items-center gap-4">
        @if (!sidenavStart.opened) {
          <button
            mat-icon-button
            (click)="sidenavStart.toggle()"
            [matTooltip]="panelToggleTooltip"
            class="fa-toolbar-button"
          >
            <mat-icon>{{ panelIcon }}</mat-icon>
          </button>
        }
      </div>
      <div class="flex ffa-1 h-full items-center justify-end">
        <button class="fa-toolbar-button" mat-flat-button (click)="logout()">
          Logout
        </button>
      </div>
    </mat-toolbar>

    <div class="fa-app-content-inner ffa-1 flex ffa-col">
      <!-- {{ auth.currentUser?.displayName }} -->
      <!-- <router-outlet></router-outlet> -->
    </div>
  </mat-sidenav-content>

  <mat-sidenav
    position="end"
    mode="over"
    [opened]="isSidenavEndOpened()"
    fixedBottomGap="0"
    fixedInViewport
    fixedTopGap="0"
    #sidenavEnd
    [autoFocus]="false"
    class="!w-96"
  >
    <aside class="flex ffa-col h-full">
      <mat-toolbar class="shrink-0 sticky-top">
        <div class="flex shrink-0 items-center">
          <button
            mat-icon-button
            (click)="sidenavEnd.toggle()"
            matTooltip="Close"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <div class="flex ffa-1 items-center justify-end"></div>
      </mat-toolbar>
    </aside>
  </mat-sidenav>
</mat-sidenav-container>
