@use './app/theme/fa_theme.scss' as fa;

// Setup FireAuth Material Theme
@include fa.theme;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-surface text-primary-text border border-border-dark;
  }

  .button-primary {
    @apply bg-accent text-black hover:brightness-110;
  }

  .text-secondary {
    @apply text-secondaryText;
  }

  .fa-vertical-divider {
    width: 1px;
    height: 1.5rem;
    background-color: theme('colors.gray.300');
    margin-left: theme('spacing.2');
    margin-right: theme('spacing.2');
  }

  .dark .fa-vertical-divider {
    background-color: theme('colors.gray.600');
  }
}
