.fa-login-page {
  .fa-login__form {
    max-width: 480px;
    margin: 0 auto;
    width: 100%;
    flex-grow: 0;
    padding: 24px;
  }

  #loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  .fa-continue-button {
    @apply flex items-center justify-center w-full gap-4 shadow-bordered h-12 rounded-full px-4 pl-3 transition;

    @apply bg-neutral-900 text-white hover:bg-neutral-800; // Light mode: darkish bg

    .dark & {
      @apply bg-white text-black hover:bg-gray-100; // Dark mode: lightish bg
    }
  }
}
