@if (isServer) {
  <div
    style="
      height: 100vh;
      width: 100vw;
      background-color: rgb(194, 24, 91);
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <div id="loading"></div>
  </div>
} @else if (!isUser()) {
  <mat-toolbar class="!bg-inherit border-b">
    <div class="flex items-center gap-4">
      <img class="size-8" src="/img/fireauth-logo.svg" alt="FireAuth2 Logo" />
      <span class="font-brand font-extrabold">FireAuth2</span>
    </div>
    <div class="flex items-center"></div>
    <div></div>
  </mat-toolbar>
  <main class="flex flex-col flex-1">
    <div class="flex flex-col flex-1 items-center justify-center">
      <form class="fa-login__form rounded-2xl shadow-bordered">
        <header>
          <div class="flex items-center gap-4">
            <h1 class="text-2xl font-sans font-semibold">Sign in</h1>
          </div>
          <div class="mt-4 text-gray-700">
            <p>
              Say goodbye to credential headaches. FireAuth2 makes integrating
              Google OAuth 2.0 with your Firebase Authentication effortless and
              secure.
            </p>
          </div>
        </header>

        <section class="mt-6">
          <button
            type="button"
            class="flex items-center justify-center w-full gap-4 shadow-bordered h-12 rounded-full px-4 pl-3 hover:bg-gray-100 transition"
            (click)="login()"
          >
            <img class="size-6" src="/img/google-logo.webp" alt="Google Logo" />
            Continue with Google
          </button>
        </section>
      </form>
    </div>
  </main>
}
